@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
  margin: 0;
  font-family: "Acme", sans-serif;
  background-image: url("/public/images/glavna.jpg");
  padding-top: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
